!!!
%html{lang:'en', "ng-app"=>true}
  %head
    = javascript_include_tag 'application'
    = stylesheet_link_tag    'application', media: 'all'

  %body
    .container-fluid
      .row-fluid
        .col-xs-12
          %h1 Welcome
