!!!
%html(ng-app='welcomeApp' ng-controller='welcomeCtrl')
  %head
    %title(ng-bind-template="angular: {{query}}") angular
    = javascript_include_tag 'application', debug: false
    = stylesheet_link_tag    'application', media: 'all', debug: false

  %body
    .container-fluid
      .row-fluid
        .col-xs-12
          %h1 Welcome
          .well
            {{ currentTime }}
          .well
            .input-group
              %span.input-group-addon
                = fa_icon('search')
              %input.form-control(ng-model='query' type='text')
            %ul.list-group
              %li.list-group-item(ng-repeat="song in songs | filter:query")
                {{song.hash}}

